@charset "UTF-8";
body{
	background-color: #efefef;
}
.drop-shadow {
	-webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
}
.drop-shadow_lt {
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
}
.row.drop-shadow {
	padding-left:0;
	padding-right:0;
}
.drop-shadow-content {
	-webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
	-moz-box-shadow: -1px 5px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
}
.row.drop-shadow-content {
	padding-left:0;
	padding-right:0;
}
.bg-color-default{
	background-color: #f8f8f8;
}
.bg-color-default_lt{
	background-color: #fffcfc;
}

.no-padding{
	padding: 0px;
}
.next-div-height{
	height: inherit;
	float: left;
}
.float-right{
	float: right;
}
.contact-font{
	font-size: 2.0rem;
	color: #777777;
}

.table-font{
	font-size: 1.3rem;
}

.table-font tbody tr td input, .table-font tbody tr td select{
	font-size: 1.0rem;
}

.table-backlight tr:hover
{
	background-color: #ffe2e2;
}

.table-backlight tr td input:focus, .table-backlight tr td select:focus
{
	background-color: ffe2e2;
}

.haze span
{
	display: none;
}

.haze:hover span
{
	display: inline;
	position: absolute;
	margin: 15px 0 0 5px;
	background: #f8f8f8;
	border: 1px solid black;
	color: #000000;
	-moz-opacity: 0.9;
	opacity:.90;
	filter: alpha(opacity=90);
	text-align: center;
	font-size: 15px;
}

.ucp-glyphicon
{
	font-size: 2.5em;
}

@media print
{
	.no-print
	{
		display: none;
	}
	.block-print
	{
		display: block;
	}
	.print-font
	{
		font-size: 0.8rem;
	}
	
	.print-table thead tr, .print-table tbody tr, .print-table thead tr th, .print-table tbody tr td, .print-table tbody tr td div	{
		height: 10px;
	}
	.print-table tbody tr td div
	{
		margin-top: -7px;
	}

}